/*text color*/
body{
	color: #2D8C4E;
}
/*header*/
#head-text{
	background-color: #2D8C4E;
	color: #FFF;
}

/*brand_head*/
.brand_white{
	width: 9%;
	height: 9%;
}
/*header search*/
#search{
	margin-top: 28px;
}

/*poster*/
<<<<<<< HEAD
.page-banner{
	margin-top: 0px;
=======
.page-banner__image {
    text-align: center;
>>>>>>> master
}
.page-banner__image img {
    vertical-align: bottom;
}
img {
<<<<<<< HEAD
    max-width: 100%;
    width: auto;
    height: auto;
}
img {
    border: 0;
}
.page-banner__image {
    text-align: center;
}
.page-banner__image + .section-title {
    bottom: 0;
    width: 100%;
    background: #f3f1ee;
    background: rgba(45,140,78);
}
.section-title {
    background: #f2f1eb;
    color: #2e2d29;
    border-bottom: 1px #dedede solid;
}
.section-title h4 {
    color: #FFF;
    padding: 0.5em 1em;
    font-size: 1.4em;
    margin-left: 80px;
}
.contents-page-width > * {
    width: 1200px;
}
.contents-page-width > * {
    margin: auto;
    width: auto;
    box-sizing: border-box;
}
/*main content style*/
#main-content {
    overflow: auto;
    padding: 0 20px 20px 20px;
    margin-top: 40px;

}
.region {
    position: relative;
=======
    height: auto;
    max-width: 100%;
    width: auto;
    border: 0 none;
}
.page-banner__image + .section-title {
	background: rgba(243, 241, 238, 0.55) none repeat scroll 0 0;
    bottom: 0;
    width: 100%;
}
/*section postion*/
.section-title{
    position: absolute;
	margin-bottom: 193px
}
.section-title h4 {
	color: #2e2d29;
	padding: 0.2em 0.6em;
    font-size: 19px;
    line-height: 20px;
    margin-left: 90px;
}
.page-banner{
	margin-bottom: 60px;
>>>>>>> master
}
/*contient-link*/
.contient-link img{
	width: 70%;
	margin-left: 40px;
}
/*index right_news_contact*/
a:hover.list-group-item, button.list-group-item{
    background-color: #dff0d8;
}	
.panel-success > .panel-heading {
    color: #FFF;
    background-color: #2D8C4E;
}
/*index right_nav navbar-nav color*/
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #2D8C4E;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #88B36F;
}

/*link visited*/
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #B7C7BD;
    border-color: #337ab7;
}
/*linke_a_text_color*/
a {
    color: #2D8C4E;
    text-decoration: none;
}

/*a:*/
a:focus, a:hover {
    color: #FFF;
    text-decoration: underline;
}

/*a.list*/
a.list-group-item{
	color: #2D8C4E;
}
/*endWall_style*/
.endWall{
	height: 280px;	
	background-color: #F2F1EB;
}
.endWall_brand{
	height: 94px;
	background-color:  #2D8C4E;
	color: #FFF;
}

/*brand&logo*/
.brand{
	width: 70%;
	height: 70%;
}
.school_logo{
	width: 70%;
	height: 70%;
}
/*link_hover_color the one*/
.link_hover_color a:hover{
	color: #CEA052;
}
/*link_hover_color the two*/
.link_hover_color_two a:hover{
    color: #2D8C4E;   
 }
